* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #172b8613;
  background-image: url('https://preview.pixlr.com/images/800wm/1035/1/1035117763.jpg');
  /* background-image: linear-gradient(225deg, #172c86 7%, #13143b 36%, #2fb389 86%, #ffffff 99%, #ffffff 100%); */
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}


header {
  font-size: 2.0rem; 
}

h1{
  box-shadow: 5px 10px 2px #4b4848;
  color: black;
  background-color: #afaaaa;
}

.container{
  background-color: rgba(0, 0, 0, 0.849);
  padding-bottom: 100px;
  width: 800px;
  margin: auto;
  border-radius: 20px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #807e7e;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #5f5e5e;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #4b4a4a;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgba(224, 154, 25, 0.658);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.completed-icon{
  background-color: #6b6b6d;
}

form input::placeholder {
  color: rgba(99, 83, 13, 0.856);
  font-size: 1.2rem;
  font-weight: bold;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;

}
select {
  color: #424141;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 12rem;
  font-style: italic;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #b6b4b4;
  cursor: pointer;
  pointer-events: none;
}

.select:hover{
  background: #6b6a6a;
}



/* Responsive */

@media (max-width:780px){
header{
  font-size: 1rem;
}


.container{
  padding-top: 20px;
  width: 90%;
  padding-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select{
  width: 14.5rem;
  font-size: .9rem;
}
.filter-todo{
  padding: 13px;
}
.select::after{
  padding: 13px;
}

form input{
  width: 12.5rem;
  font-size: 1.3rem;
}
form button{
  font-size: 1.3rem;
}

.todo{
  font-size: 0.9rem;
  width: 90%;
}

.complete-btn, .trash-btn{
  font-size: 0.8rem;
}


}

@media (max-width:400px){

  .container{
    padding-top: 30px;
  }

  
}